<main>
<div class="produtos-grid">
    <% produtos.forEach(produto => { %>
        <div class="card-produto" data-categoria="<%= produto.categoria %>">
            <img src="/img/<%= produto.imagem %>" alt="<%= produto.nome_produto %>">
            <h3><%= produto.nome_produto %></h3>
            <p>Marca: <%= produto.marca %></p>
            <p>Origem: <%= produto.origem %></p>
            <p>Preço: R$ <%= produto.promocao ? (Number(produto.preco) * 0.9).toFixed(2) : Number(produto.preco).toFixed(2) %></p>
            <a href="/produto/<%= produto.id %>">Ver Mais</a>
        </div>
    <% }) %>
</div>
</div>

<script>
    // Mostrar o formulário de adicionar produto quando clicar no botão
    document.getElementById('btnAdicionar').addEventListener('click', () => {
        const formContainer = document.getElementById('formContainer');
        formContainer.style.display = formContainer.style.display === 'none' ? 'block' : 'none';
    });

    document.querySelectorAll('.filtro').forEach(btn => {
        btn.addEventListener('click', () => {
            const categoria = btn.getAttribute('data-categoria');
            document.querySelectorAll('.card-produto').forEach(card => {
                if (categoria === 'todas' || card.getAttribute('data-categoria') === categoria) {
                    card.style.display = 'block';
                } else {
                    card.style.display = 'none';
                }
            });
        });
    });
</script>
</main>