<div class="detalhes-produto">
    <div class="informacoes">
        <h2><%= produto.nome_produto %></h2>
        <img src="/img/<%= produto.imagem %>" alt="<%= produto.nome_produto %>">
        <p>Marca: <%= produto.marca %></p>
        <p>Origem: <%= produto.origem %></p>
        <p>Descrição: <%= produto.descricao %></p>
        <p>Preço: R$ <%= produto.promocao ? (Number(produto.preco) * 0.9).toFixed(2) : Number(produto.preco).toFixed(2) %></p>
    </div>

    <div class="produtos-promocao">
        <h3>Produtos em Promoção</h3>
        <div class="produtos-grid">
            <% produtosPromocao.forEach(produto => { %>
                <div class="card-produto">
                    <img src="/img/<%= produto.imagem %>" alt="<%= produto.nome_produto %>">
                    <h3><%= produto.nome_produto %></h3>
                    <p>Preço: R$ <%= (Number(produto.preco) * 0.9).toFixed(2) %></p>
                    <a href="/produto/<%= produto.id %>">Ver Mais</a>
                </div>
            <% }) %>
        </div>
    </div>
</div>
