<div class="content">
    <h2>Ofertas Especiais</h2>
    <div class="produtos-grid">
        <% produtosPromocao.forEach(produto => { %>
            <div class="card-produto">
                <img src="/img/<%= produto.imagem %>" alt="<%= produto.nome_produto %>">
                <h3><%= produto.nome_produto %></h3>
                <p>Preço: R$ <%= (Number(produto.preco) * 0.9).toFixed(2) %></p>
                <a href="/produto/<%= produto.id %>">Ver Detalhes</a>
            </div>
        <% }) %>
    </div>
</div>